@charset "UTF-8";

@media screen and (min-width:200px) and (max-width:1000px) {

    .link{  
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width:200px) and (max-width:768px) {

    .geral{
        display: flex;
        flex-direction: column; 
    }
    .esquerda{
        width: 100vw;
    }
    .direita{
        width: 100vw;
    }
    .card{
        max-width:70%;
        max-height: 70%;
    }
    img{
        width: 50%;
    }
    h1{
        margin-top: 10px;
    }
    h2{
        margin-top: 10px;
    }
}
@media screen and (min-width:200px) and (max-width:400px) {

    .esquerda{
        max-height: 45%; 
    }
    .direita{
        max-height: 55%;  
    }

    h1{
        font-size: 1.5em;
    }
    h2{
        display: none;
    }
    .login >input{
        padding: 10px;
    }
    button{
        padding:10px;
    }
}
